body{
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Work Sans', sans-serif;
}
h1{
    font-size: 40px;
}
.half-width{
    width: 40%;
    float: left;
    /* border:solid 2px black; */
    margin-left:5%;
    padding-left: 2%;

}
.top{
    /* border:2px solid black; */
    height: 500px;

}
.half-width img{
  
   
    width: 300px;
    height:300px;
    display: flex;
   margin-top: 40px;
    margin-left: auto;
    margin-right: auto
 
    
}
